InsurancePrediction.json
[{"id":"4f09636c.e2f5ec","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"5fafe374.8661fc","type":"ui_form","z":"4f09636c.e2f5ec","name":"","label":"","group":"deaa23b9.e9c2e","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"rd","type":"number","required":true,"rows":null},{"label":"Sex","value":"ms","type":"text","required":true,"rows":null},{"label":"BMI","value":"ad","type":"number","required":true,"rows":null},{"label":"Children","value":"st","type":"text","required":true,"rows":null},{"label":"Smoker(Yes/No)","value":"sm","type":"text","required":true,"rows":null},{"label":"Region(NE/NW/SE/SW)","value":"re","type":"text","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":"","sm":"","re":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":280,"wires":[["6ed86213.933b1c","7b39a495.2140fc"]]},{"id":"6ed86213.933b1c","type":"debug","z":"4f09636c.e2f5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"7b39a495.2140fc","type":"function","z":"4f09636c.e2f5ec","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"re\",msg.payload.re)\nvar apikey=\"738wCx65KX_yl7I_Ia1-MGSnrhkFfupbFuOVNc58VGb6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["172b9606.7d893a"]]},{"id":"172b9606.7d893a","type":"http request","z":"4f09636c.e2f5ec","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["66b7f615.e52d18","eaeaff37.0264e"]]},{"id":"66b7f615.e52d18","type":"debug","z":"4f09636c.e2f5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"eaeaff37.0264e","type":"function","z":"4f09636c.e2f5ec","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar sm = global.get(\"sm\")\nvar re = global.get(\"re\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"BMI\", \"Children\", \"Smoker\", \"Region\"]],\"values\": [[rd,ms,ad,st,sm,re]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":220,"wires":[["af038847.0e8b58"]]},{"id":"af038847.0e8b58","type":"http request","z":"4f09636c.e2f5ec","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3e19cb35-2837-4bda-84c0-3fe5230e87bc/predictions?version=2020-10-17","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["b11bafea.34d8d","8ade66e9.0296f8"]]},{"id":"b11bafea.34d8d","type":"debug","z":"4f09636c.e2f5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"ddb54387.7d20d","type":"inject","z":"4f09636c.e2f5ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["7b39a495.2140fc"]]},{"id":"232de09f.e3474","type":"debug","z":"4f09636c.e2f5ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"8ade66e9.0296f8","type":"function","z":"4f09636c.e2f5ec","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["232de09f.e3474","194ef562.61009b"]]},{"id":"194ef562.61009b","type":"ui_text","z":"4f09636c.e2f5ec","group":"deaa23b9.e9c2e","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"deaa23b9.e9c2e","type":"ui_group","z":"","name":"New","tab":"38f6bb1d.4b99e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"38f6bb1d.4b99e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]